/* fonte: https://codepen.io/era_eric_og/pen/apbVpN */

  #post{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #C0C0C0;
    margin: auto;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
    display: flex;
    flex-flow: column;
  }
  
  #pnav{
    margin: 2px 0px 0px 2px;
    background-color: #00007f;
    width: 99%;
    height: 16px;
    color: #FFFFFF;
    padding: 2px 2px 4px 4px;
  }

  #pnav img{
      height:15px;
  }
  
  .pbuttons{
    float: right;
    padding: 2px 2px 2px 0px;
  }
  
  #content{
    background-color: #FFFFFF;
    height: 100%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0%;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    overflow-y: scroll;
    padding:1%;
  }
  
  #noter{
    margin: 0% 1% 1% 1%;
    width: auto;
    background: #C0C0C0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row; 
    flex-direction: row;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
  
  .notebox{  
    flex-grow: 1;
    margin: auto;
    width: 50%;
    padding-left: 2px;
    padding-right: 0px;
    color: #000000;
    border-top: 1px solid #929292;
    border-left: 1px solid #929292;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
  }